div {
  display: flex;

  .button {
    padding: 1rem 2rem;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;

    &:not(:last-child) {
      margin-right: 2rem;
    }

    &:first-child {
      background: #DB5461;
    }

    &:nth-child(2) {
      background: #8390FA;
    }

    &:nth-child(3) {
      background: #00BFB2;
    }

    &:last-child {
      background: #F6AE2D;
    }
  }
}
