header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  height: 5rem;

  span,
  a {
    color: #fff;
  }

  a:hover {
    text-decoration: underline;
  }
}
