.map {
  width: 80%;
  overflow: hidden;

  .tooltip {
    .tooltip-municipality {
      background: var(--map-fill);
    }

    .tooltip-Parkeergarage {
      background: #8390FA;
    }

    .tooltip-ParkRide {
      background: #00BFB2;
    }

    .tooltip-TerreinParkeren {
      background: #F6AE2D;
    }
  }

  svg g:last-child circle {
    &.Parkeergarage {
      fill: #8390FA;
    }
    &.ParkRide {
      fill: #00BFB2;
    }

    &.TerreinParkeren {
      fill: #F6AE2D;
    }
  }
}

.tooltip {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 1rem;
  visibility: hidden;
  overflow: hidden;
  z-index: 10;
  color: var(--map-fill);
  border: 1px solid var(--map-fill);
  border-radius: 10px;
  background: #fff;

  & > span {
    position: relative;
    left: -1rem;
    top: -1rem;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
    font-weight: 700;
    color: #fff;
    background: #DB5461;
  }
}

.map svg {
  g:first-child path {
    fill: var(--map-fill);
    stroke: var(--map-border);
    stroke-width: 0.5px;
    stroke-linejoin: round;
    transition: fill 0.2s;

    &:hover {
      fill: var(--map-fill-hover);
    }
  }

  g:last-child circle {
    fill: #DB5461;
    stroke: #fff;
    stroke-width: 1px;
    transition: fill 0.2s;

    &:hover {
      fill: #fff;
    }
  }
}
