.map {
  width: 80%;
  overflow: hidden;
}

.tooltip {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 1rem;
  visibility: hidden;
  overflow: hidden;
  z-index: 10;
  color: var(--map-fill);
  border: 1px solid var(--map-fill);
  border-radius: 10px;
  background: #fff;

  & > span {
    position: relative;
    left: -1rem;
    top: -1rem;
    width: 100%;
    padding: .5rem 1rem;
    font-size: .75rem;
    font-weight: 700;
    color: #fff;

    &.tooltip-municipality {
      background: var(--map-fill);
    }

    &.tooltip-point {
      background: var(--map-fill-hover);
    }
  }
}

svg {
  g:first-child path {
    fill: var(--map-fill);
    stroke: var(--map-border);
    stroke-width: 0.5px;
    stroke-linejoin: round;
    transition: fill 0.2s;

    &:hover {
      fill: var(--map-fill-hover);
    }
  }

  g:last-child circle {
    fill: var(--map-fill-hover);
    stroke: #fff;
    stroke-width: 1px;
    transition: fill 0.2s;

    &:hover {
      fill: #fff;
    }
  }
}
